<!DOCTYPE html>
<html>
  <head>
    <title>NutriScan</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title> NutriScan</title>
  </head>
  <body>
    <div class="safeArea">
      Scan for Products
    </div>
    <div class="body">
      <div class="main">
        <div class="main-content">
          <svg width="120px" height="120px" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_4_47)">
              <path d="M8.65263 0.777892C13.0259 -0.527925 17.2505 0.68883 18.0886 3.49546C18.9266 6.3021 16.0607 9.63608 11.6875 10.9419C8.37959 11.9297 3.05378 10.3528 0.655891 9.52592C0.359524 9.42374 0.13054 9.18503 0.0407747 8.88456C-0.0489907 8.58409 0.0114779 8.25878 0.203313 8.01093C1.75534 6.00445 5.34444 1.76566 8.65263 0.777892Z" fill="#A8DA64"/>
              <path d="M8.65265 0.777892C13.026 -0.527925 17.2506 0.68883 18.0886 3.49546C7.92866 4.95081 0.0407885 8.88432 0.0407885 8.88432C-0.0488598 8.58385 0.0116089 8.25866 0.203444 8.01069C1.75547 6.00445 5.34445 1.76566 8.65265 0.777892Z" fill="#7FA24D"/>
              <path d="M26.5346 1.17187C26.4184 0.858626 26.1676 0.614173 25.8515 0.505775C25.5355 0.397377 25.1874 0.436986 24.9032 0.61265C22.812 1.90675 18.6751 5.33413 18.4775 12.2778L20.9754 12.7058C20.9754 12.7058 23.1257 7.85131 27.1748 5.63436C27.6591 5.36928 27.8769 4.78885 27.6848 4.27112L26.5346 1.17187Z" fill="#533F29"/>
              <path d="M32.1853 31.4347C29.5812 28.312 28.1501 24.3744 28.1501 20.3082C28.1501 15.2107 24.0178 11.0784 18.9204 11.0784C13.8229 11.0784 9.69057 15.2108 9.69057 20.3082C9.69057 24.3833 8.26534 28.3048 5.65558 31.4344C3.15902 34.4282 1.65715 38.2802 1.65715 42.483C1.65715 52.0173 9.38624 59.7462 18.9206 59.7462C28.4549 59.7462 36.1839 52.0172 36.1839 42.483C36.1837 38.2804 34.6817 34.4284 32.1853 31.4347Z" fill="#FFDC35"/>
              <path d="M32.1852 31.4347C29.5812 28.312 28.1501 24.3744 28.1501 20.3082C28.1501 15.2107 24.0178 11.0784 18.9203 11.0784V59.7464C28.4546 59.7464 36.1836 52.0173 36.1836 42.4832C36.1837 38.2804 34.6818 34.4284 32.1852 31.4347Z" fill="#FFAE33"/>
              <path d="M47.847 20.0035C47.7387 19.712 47.5053 19.4844 47.2111 19.3835C46.917 19.2826 46.593 19.3194 46.3285 19.4831C44.382 20.6877 40.5312 23.8778 40.3472 30.3412L42.6722 30.7395C42.6722 30.7395 44.6738 26.2209 48.4428 24.1573C48.8936 23.9105 49.0962 23.3703 48.9174 22.8884L47.847 20.0035Z" fill="#533F29"/>
              <path d="M53.8524 28.1532C51.2038 27.2205 47.9359 27.6058 45.2196 28.9705C42.2605 30.4571 38.772 30.4546 35.8123 28.9687C33.0967 27.6053 29.8305 27.2208 27.1829 28.1532C22.3186 29.866 19.8257 35.3733 21.6148 40.4541C23.4039 45.5349 29.803 62.152 38.204 59.4518C39.1792 59.1383 39.9391 58.1538 40.5177 56.7403C41.0964 58.154 41.8563 59.1384 42.8315 59.4518C51.2324 62.1519 57.6314 45.5349 59.4205 40.4541C61.2096 35.3733 58.7167 29.866 53.8524 28.1532Z" fill="#FF4D00"/>
              <path d="M53.8524 28.1532C51.2038 27.2205 47.9359 27.6058 45.2196 28.9705C43.7512 29.7082 42.1523 30.0788 40.5524 30.0837V56.8222C41.1266 58.1915 41.8752 59.1447 42.8314 59.452C51.2323 62.1522 57.6313 45.5351 59.4204 40.4543C61.2096 35.3733 58.7167 29.866 53.8524 28.1532Z" fill="#B8000C"/>
            </g>
            <defs>
              <clipPath id="clip0_4_47">
                <rect width="60" height="60" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <h1 id="title">Welcome to NutriScan</h1>
          <p id="mainDescription">Get detailed nutrition facts with just a click of a button. Explore awide range of products and make informed choices for a healthier lifestyle. Upload an image.</p>
          <form action="/upload" method="POST">
            <div class="scanText">
              <label for="fileUpload" id="scanLabel">Scan Now</label>
              <canvas id="canvas" width="100%" height="100%" style="display: none;"></canvas>
              <input type="file" id="fileUpload" accept="image/*" capture="camera" name="image" onchange="submitForm()">
            </div>
          </form>
        </div>
        <h1 id="blacklistHeader">Food Restrictions?</h1>
      </div>
      <div class="blacklist">
        <div>
          <svg width="9vh" height="9vh" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg" style="justify-content: left;">
            <path d="M12.5 56.25C12.2957 56.25 12.0945 56.1998 11.914 56.104C11.7336 56.0082 11.5794 55.8696 11.4649 55.7003C11.3504 55.5311 11.2792 55.3364 11.2574 55.1332C11.2356 54.93 11.264 54.7247 11.34 54.535L31.34 4.535C31.4633 4.22718 31.7039 3.98096 32.0087 3.85051C32.3136 3.72005 32.6578 3.71605 32.9656 3.83937C33.2734 3.9627 33.5197 4.20325 33.6501 4.50812C33.7806 4.81298 33.7846 5.15718 33.6613 5.465L13.6612 55.465C13.465 55.9525 12.995 56.25 12.4987 56.25H12.5Z" fill="#A67C52"/>
            <path d="M5 48.75C4.71075 48.7476 4.43125 48.6452 4.20896 48.4601C3.98666 48.275 3.83528 48.0187 3.7805 47.7347C3.72573 47.4507 3.77095 47.1565 3.90849 46.902C4.04602 46.6475 4.26739 46.4485 4.535 46.3388L54.535 26.3388C54.8411 26.2246 55.1796 26.2347 55.4784 26.3669C55.7771 26.499 56.0123 26.7428 56.1337 27.046C56.2552 27.3493 56.2532 27.688 56.1282 27.9898C56.0033 28.2916 55.7652 28.5326 55.465 28.6613L5.465 48.6613C5.31701 48.72 5.15922 48.7501 5 48.75Z" fill="#C19F85"/>
            <path d="M27.5 20C27.5 23.3152 28.817 26.4946 31.1612 28.8388C33.5054 31.183 36.6848 32.5 40 32.5C43.3152 32.5 46.4946 31.183 48.8388 28.8388C51.183 26.4946 52.5 23.3152 52.5 20C52.5 18.3585 52.1767 16.733 51.5485 15.2165C50.9203 13.6999 49.9996 12.3219 48.8388 11.1612C47.6781 10.0004 46.3001 9.07969 44.7835 8.45151C43.267 7.82332 41.6415 7.5 40 7.5C38.3585 7.5 36.733 7.82332 35.2165 8.45151C33.6999 9.07969 32.3219 10.0004 31.1612 11.1612C30.0004 12.3219 29.0797 13.6999 28.4515 15.2165C27.8233 16.733 27.5 18.3585 27.5 20Z" fill="white"/>
            <path d="M40 34.375C32.0738 34.375 25.625 27.9263 25.625 20C25.625 12.0738 32.0738 5.625 40 5.625C47.9263 5.625 54.375 12.0738 54.375 20C54.375 27.9263 47.9263 34.375 40 34.375ZM40 9.375C34.1413 9.375 29.375 14.1413 29.375 20C29.375 25.8588 34.1413 30.625 40 30.625C45.8588 30.625 50.625 25.8588 50.625 20C50.625 14.1413 45.8588 9.375 40 9.375Z" fill="#444444"/>
            <path d="M35 20C35 21.3261 35.5268 22.5979 36.4645 23.5355C37.4022 24.4732 38.6739 25 40 25C41.3261 25 42.5979 24.4732 43.5355 23.5355C44.4732 22.5979 45 21.3261 45 20C45 18.6739 44.4732 17.4021 43.5355 16.4645C42.5979 15.5268 41.3261 15 40 15C38.6739 15 37.4022 15.5268 36.4645 16.4645C35.5268 17.4021 35 18.6739 35 20Z" fill="#E86C60"/>
          </svg>
        </div>
        <div>
          <h2 id="allergiesText">Add Allergies or Exclude Ingredients</h2>
          <button class="blacklistButton" onclick="popUp()">Blacklist Ingredients</button>
        </div>
      </div>
      </div>
    <div id="footer">
    </div>
    <div id="popup">
      <div id="popup-content">
        <div id="popup-header">
          <span id="close" onclick="closePopup()">&times;</span>
          <h2 id="popupTitle">Blacklist Ingredients</h2>
          <p id ="popupDescription">Exclude ingredients from your search, separate ingredients with commas.</p>
        </div>
        <div class="popup-body">
          <input id ="popupInput" type="text">
          <span id="popupSubmit">→</span>
        </div>
      </div>
    </div>

  <script>
      async function submitForm() {
        const src = await URL.createObjectURL(document.getElementById('fileUpload').files[0]);
        console.log(src)
        const canvas = document.getElementById('canvas');
        new Image(src).onload = async function() {
          await fetch('/upload', {
            method: 'POST',
            body: await canvas.toDataURL('image/png'),
          });
        };
    }

    function popUp() {
        document.getElementById("popup").style.display = "block";
        document.getElementById("popup").style.zIndex = "100";
    }
    function closePopup() {
        document.getElementById("popup").style.display = "none";
        document.getElementById("popup").style.zIndex = "-100";
    }
      // async function submitForm() {
      //   const fileInput = document.getElementById('fileUpload');
      //   const img = fileInput.files[0];

      //   if (!img) {
      //     console.error('No file selected.');
      //     return;
      //   }

      //   const formData = new FormData();
      //   formData.append('image', img);

      //   try {
      //     const response = await fetch('/upload', {
      //       method: 'POST',
      //       body: formData
      //     });

      //     if (response.ok) {
      //       const data = await response.json();

      //       if (data.success) {
      //         const decodedBarcode = data.decodedBarcode;
      //         console.log('Decoded Barcode:', decodedBarcode);

      //         // 处理解码结果，例如将其显示在页面上
      //         alert('Decoded Barcode: ' + decodedBarcode);
      //       } else {
      //         console.error('Error decoding barcode:', data.error);
      //       }
      //     } else {
      //       console.error('Error uploading image. HTTP status:', response.status);
      //     }
      //   } catch (error) {
      //     console.error('Error:', error);
      //   }
      // }



    </script>
    </div>
  </body>
</html>
