<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to NutriScan</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main">
      <p>
        Get detailed nutrition facts with just a click of a button. Explore a
        wide range of products and make informed choices for a healthier
        lifestyle.
      </p>
      <button>Scan Now</button>
    </div>
    <div>
      <h1>Food Restrictons?</h1>
      <p>Add Allergies or Exclude Ingredients</p>
      <button>Blacklist Ingredients</button>
    </div>
    <footer>
      <div>NutriScan</div>
      <h2>Help Center</h2>
      <table>
        <th>FAQs</th>
        <th>Contact Support</th>
        <th>Nutrition Tips</th>
      </table>
    </footer>
  </body>
</html>
