<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/logo.png">

  <style>
    body {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #A8DA64;
      font-family: 'Poppins', sans-serif;
    }
    .loading-container {
      text-align: center;
    }
    .loading-spinner {
      border: 8px solid #FFFF;
      border-top: 8px solid #778F57;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1.2s infinite;
      animation-timing-function: cubic-bezier(.59,-0.35,.5,1.38);
      animation-fill-mode: backwards;
      /* animation-timing-function: ease-in-out; */
      align-self: center !important;
      margin-left: 35%;
      margin-bottom: 25px;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      98% { transform: rotate(360deg); }
      100% { transform: rotate(360deg); }
    }

    .loading-text {
      font-size: 25px;
      color: #778F57;
      text-align: center;

    }
  </style>
   <title> Loading... </title>
</head>
<body>

  <div class="loading-container">
    <div class="loading-spinner"></div>
  
    <svg width="30px" height="30px" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_4_47)">
        <path d="M8.65263 0.777892C13.0259 -0.527925 17.2505 0.68883 18.0886 3.49546C18.9266 6.3021 16.0607 9.63608 11.6875 10.9419C8.37959 11.9297 3.05378 10.3528 0.655891 9.52592C0.359524 9.42374 0.13054 9.18503 0.0407747 8.88456C-0.0489907 8.58409 0.0114779 8.25878 0.203313 8.01093C1.75534 6.00445 5.34444 1.76566 8.65263 0.777892Z" fill="#A8DA64"/>
        <path d="M8.65265 0.777892C13.026 -0.527925 17.2506 0.68883 18.0886 3.49546C7.92866 4.95081 0.0407885 8.88432 0.0407885 8.88432C-0.0488598 8.58385 0.0116089 8.25866 0.203444 8.01069C1.75547 6.00445 5.34445 1.76566 8.65265 0.777892Z" fill="#7FA24D"/>
        <path d="M26.5346 1.17187C26.4184 0.858626 26.1676 0.614173 25.8515 0.505775C25.5355 0.397377 25.1874 0.436986 24.9032 0.61265C22.812 1.90675 18.6751 5.33413 18.4775 12.2778L20.9754 12.7058C20.9754 12.7058 23.1257 7.85131 27.1748 5.63436C27.6591 5.36928 27.8769 4.78885 27.6848 4.27112L26.5346 1.17187Z" fill="#533F29"/>
        <path d="M32.1853 31.4347C29.5812 28.312 28.1501 24.3744 28.1501 20.3082C28.1501 15.2107 24.0178 11.0784 18.9204 11.0784C13.8229 11.0784 9.69057 15.2108 9.69057 20.3082C9.69057 24.3833 8.26534 28.3048 5.65558 31.4344C3.15902 34.4282 1.65715 38.2802 1.65715 42.483C1.65715 52.0173 9.38624 59.7462 18.9206 59.7462C28.4549 59.7462 36.1839 52.0172 36.1839 42.483C36.1837 38.2804 34.6817 34.4284 32.1853 31.4347Z" fill="#FFDC35"/>
        <path d="M32.1852 31.4347C29.5812 28.312 28.1501 24.3744 28.1501 20.3082C28.1501 15.2107 24.0178 11.0784 18.9203 11.0784V59.7464C28.4546 59.7464 36.1836 52.0173 36.1836 42.4832C36.1837 38.2804 34.6818 34.4284 32.1852 31.4347Z" fill="#FFAE33"/>
        <path d="M47.847 20.0035C47.7387 19.712 47.5053 19.4844 47.2111 19.3835C46.917 19.2826 46.593 19.3194 46.3285 19.4831C44.382 20.6877 40.5312 23.8778 40.3472 30.3412L42.6722 30.7395C42.6722 30.7395 44.6738 26.2209 48.4428 24.1573C48.8936 23.9105 49.0962 23.3703 48.9174 22.8884L47.847 20.0035Z" fill="#533F29"/>
        <path d="M53.8524 28.1532C51.2038 27.2205 47.9359 27.6058 45.2196 28.9705C42.2605 30.4571 38.772 30.4546 35.8123 28.9687C33.0967 27.6053 29.8305 27.2208 27.1829 28.1532C22.3186 29.866 19.8257 35.3733 21.6148 40.4541C23.4039 45.5349 29.803 62.152 38.204 59.4518C39.1792 59.1383 39.9391 58.1538 40.5177 56.7403C41.0964 58.154 41.8563 59.1384 42.8315 59.4518C51.2324 62.1519 57.6314 45.5349 59.4205 40.4541C61.2096 35.3733 58.7167 29.866 53.8524 28.1532Z" fill="#FF4D00"/>
        <path d="M53.8524 28.1532C51.2038 27.2205 47.9359 27.6058 45.2196 28.9705C43.7512 29.7082 42.1523 30.0788 40.5524 30.0837V56.8222C41.1266 58.1915 41.8752 59.1447 42.8314 59.452C51.2323 62.1522 57.6313 45.5351 59.4204 40.4543C61.2096 35.3733 58.7167 29.866 53.8524 28.1532Z" fill="#B8000C"/>
      </g>
      <defs>
        <clipPath id="clip0_4_47">
          <rect width="60" height="60" fill="white"/>
        </clipPath>
      </defs>
    </svg>
<h1 style="color: #778F57; display: inline; padding-left: 5px; padding-top: 100px;"> NutriScan </h1>
  </div>
  
  <script>
      function goToProducts() {
        window.location.href = '/products';
      }
      setTimeout(goToProducts, 2000);

  </script>

</body>
</html>
