<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main">
          <div class = "head">
            <a href= "/"  style="padding-right: 1%;"> NutriScan > </a>
            <a href = "/products" > Product</a>
          
          </div>

      <div class="main-content">
        

      </div>
      <h1 style="text-align: left;">Product Information</h1>
    </div>
    <div>
    </footer>
  </body>
</html>
