<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style2.css" />
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
      #chart-container {
      position: relative;
    }
    .body{
      background-color: #A8DA64;
    }
  </style>
  <link rel="icon" type="image/png" href="/images/logo.png">
<title> NutriScan </title>
  </head>
  <body>
    <div class="safeArea">
      Product Description
    </div>
    <div class="main">

          <div class = "head">
            <img style="height: 50%; width: 5%; padding-right: 8px;" src="/images/logo.png" alt="">
            <a href= "/"  style="padding-right: 1%; text-decoration:none; color: #2E4312;"> NutriScan > </a>
            <a href = "/products" style="text-decoration: none; color: #2E4312;" > Product</a>
          </div>

      <div class="main-content">
        <div id="chartContainer" style="align-self: center;"></div>
      </div>
      
    <h1 style="text-align: left; padding-top: 10%; color: #2E4312; opacity: 0.7;">Product Information</h1>
    <hr style="color: black;">

    <div class="banner">
      <p style="padding-bottom: 5%"> </p>
    <p style="font-size: large; display: flex; color: #FFFFFF;  font-weight: bold; opacity: 0.9; margin-left: 5%;""> NutriScore </p>
      <div id ="gradeContainer" style="margin-right: 70%;color: #FFFFFF;margin-left: 5%;""></div>
  <!-- <div class="stars-container">
    <span class="star">★</span>
    <span class="star">★</span>
    <span class="star">★</span>
    <span class="star">★</span>
    <span class="star">★</span>
  </div> -->

    
    <p style="text-align: left; font-size: large; color: #FFFFFF; font-weight: bold; opacity: 0.9;margin-left: 5%;"> ECO Score </p>
    <div id="ecoScoreContainer" style="align-content: left; margin-right: 70%; color: #FFFFFF; margin-left: 5%;"></div>
   
    <p style="text-align: left; font-size: large; color: #FFFFFF; font-weight: bold; opacity: 0.9;margin-left: 5%;""> Ingredients</p>
    <div id = "ingredientsContainer" style="align-content: left;margin-right: 10%;color: #FFFFFF;margin-left: 5%; padding-bottom: 50%"> </div>
</div>
  <!-- RANKING -->
    <!-- <script>
      var currentRating = 4; // Set the predefined rating
  
      // Initial update of stars based on the predefined rating
      updateStars();
  
      function updateStars() {
        var stars = document.querySelectorAll('.star');
        stars.forEach(function(star, index) {
          if (index < currentRating) {
            star.classList.add('filled');
          } else {
            star.classList.remove('filled');
          }
        });
      } -->

      
    </script>
  <!-- RANKING -->
  <script>
    async function fetchPieChartSVG() {
        try {
            const response = await fetch('https://us-central1-pioneerhacksv.cloudfunctions.net/pieChart?number=5449000000996');
            const svgContent = await response.text();

            // Create a temporary div to parse the SVG content
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = svgContent;

            // Get the SVG element from the temporary div
            const svgElement = tempDiv.querySelector('svg');

            // Set the desired width and height
            // svgElement.setAttribute('width', '500'); // Set your desired width
            // svgElement.setAttribute('height', '400'); // Set your desired height
            svgElement.setAttribute('viewBox', '0 0 ,650, 450'); // Set your desired viewBox
            // Inject the modified SVG into the chartContainer div
            document.getElementById('chartContainer').appendChild(svgElement);
        } catch (error) {
            console.error('Error fetching data:', error.message);
        }
    }

    fetchPieChartSVG();
</script>

<script>
  async function fetchEcoScoreData() {
    try {
      const response = await fetch('https://us-central1-pioneerhacksv.cloudfunctions.net/getIngredients?number=051500241639');
      const ecoScoreData = await response.json();

      // Extract the ecoscore_grade property
      const ecoscoreGrade = ecoScoreData.ecoscore_grade;

      // Display the ecoscore_grade in a specific container
      const ecoScoreContainer = document.getElementById('ecoScoreContainer');
      console.log("data", ecoscoreGrade);

      if (ecoscoreGrade === "not-applicable") {
        ecoScoreContainer.innerHTML = "<li>Eco Score is not applicable for this product.</li>";
      } else {
        ecoScoreContainer.innerHTML = `<li> Score: ${ecoscoreGrade.toUpperCase()}</li>`;
      }

    } catch (error) {
      console.error('Error fetching data:', error.message);
    }
  }

  // Call the fetchEcoScoreData function when the document is ready
  document.addEventListener('DOMContentLoaded', () => {
    fetchEcoScoreData();
  });
</script>

<script>
  async function fetchIngredients() {
    try {
      const response = await fetch('https://us-central1-pioneerhacksv.cloudfunctions.net/getIngredients?number=051500241639');
      const ingredientsData = await response.json();

      // Extract the ingredients property
      const ingredients = ingredientsData.ingredients;

      // Display the ingredients in a specific container
      const ingredientsContainer = document.getElementById('ingredientsContainer');
      console.log("data", ingredients);

      if (!ingredients || ingredients.length === 0) {
        ingredientsContainer.innerHTML = "<li>Ingredients are not applicable for this product.</li>";
      } else {
        // Use join() to display the array elements as a comma-separated string
        ingredientsContainer.innerHTML = `<li> ${ingredients.join(', ')}</li>`;
      }

    } catch (error) {
      console.error('Error fetching data:', error.message);
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    fetchIngredients();
  });
</script>

<script>
  async function fetchGrade() {
    try {
      const response = await fetch('https://us-central1-pioneerhacksv.cloudfunctions.net/getIngredients?number=051500241639');
      const gradeData = await response.json();

      // Extract the grade property
      const grade = gradeData.grade;

      // Display the grade in a specific container
      const gradeContainer = document.getElementById('gradeContainer');
      console.log("data", grade);

      if (!grade) {
        gradeContainer.innerHTML = "<li>Grade is not applicable for this product.</li>";
      } else {
          gradeContainer.innerHTML = `<li>Grade: ${grade.toUpperCase()}</li>`;
        
      }

    } catch (error) {
      console.error('Error fetching data:', error.message);
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    fetchGrade();
  });

  async function fetchDataFromServer() {
    // Make a GET request to your server

    try {
      const response = await fetch('https://us-central1-pioneerhacksv.cloudfunctions.net/GetData');
      const allergyData = await response.json();

      const allergy = allergyData._id;
      // Extract the ecoscore_grade property

      // Display the ecoscore_grade in a specific container
      const allergyContainer = document.getElementById('allergyContainer');
      console.log("urmom", allergy);

      if (allergy === "not-applicable") {
        allergyContainer.innerHTML = "<li>Not applicable</li>";
      } else {
        allergyContainer.innerHTML = `<li> Score: ${allergy.toUpperCase()}</li>`;
      }

    } catch (error) {
      console.error('Error fetching data:', error.message);
    }
  
}

</script>

    <div>
  
  </body>
</html>
